[Unit]
Description=My Custom Application
After=network.target

[Service]
ExecStart={{ app_root }}/myapp.sh
Restart=always
User={{ app_user }}
Group={{ app_group }}

[Install]
WantedBy=multi-user.target

